* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    height: 60px;
    background-color: #6C757D;
}

nav.navbarStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.button {
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
}

.main {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.buttons {
    display: flex;
    gap: 24px;
}

.buttons-login {
    display: flex;
    justify-content: space-between;
}

.form-input {
    background-color: rgba(240, 248, 255, 0.598);
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 8px 40px white;
}

.signup-button {
    margin-top: 10px;
}